/* Основні кольори - 
Основний фон #FFFFFF
Фон #2F303A
Фон секцій #F5F4FA
Акцент #2196F3
Текст другорядний #757575
Текст білий #FFFFFF;
Текст чорний #212121
Текст адреси rgba(255, 255, 255, 0.6); */
/* font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */
* {
    box-sizing: border-box;
}
/* перемінні для основних кольорів */
:root {
    --primary-background-color: #FFFFFF;
    --second-primary-background: #2F303A;
    --background-section-color: #F5F4FA;
    --accent-color: #2196F3;
    --primary-text-white: #FFFFFF;
    --primary-text-black: #212121;
    --second-text-gray: #757575;
    --second-text-gray-alfa-chenel: rgba(255, 255, 255, 0.6);
}

body {
    font-family: 'Roboto',
    sans-serif;
    background-color: var(--primary-background-color);
}
/*  Прибираємо маркування у списків */
.link {
    text-decoration: none;
}
/* Прибираємо підкреслення у посилань */
.list {
    list-style-type: none;
}
/* Приховані заголовки */

/* Хедер для сторінок Студія та Прортфоліо */
/* Шапка */
/* Блок навігації */
/* Лого */
.header_logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-black);
}
.header_logo_firstp {
    color: var(--accent-color);
}
/* Список навігації */
.header_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-black);
}
.header_link:hover, .header_link:focus {
    color: var(--accent-color);
}
/* Контакти в шапці */
.contacts_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-gray);
}
.contacts_link:hover, .contacts_link:focus {
    color: var(--accent-color);
}
/* ___СТУДІЯ____ */
/* Блок герой */
.hero {
    background-color: var(--second-primary-background);
}
.hero_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-background-color);
}
.hero_button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.84;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-text-white);
    background-color: var(--accent-color);
}
/* Блок - Наші особливості */
.features_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-black);
}
.features_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-gray);
}
/* Блок справ */
.case_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-black);
}
.case_img {
    width: 370px;
    height: 294px;
}
/* Блок - наша команда */
.team {
    background-color: var(--background-section-color);
}
.team_photo {
    width: 270px;
    height: 260px;
}
.team_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-black);
}
.team_position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
     color: var(--second-text-gray);
}
/* Футер для сторінок Студія та Прортфоліо */
/* footer - Підвал веб-сайту */
.footer {
    background-color: var(--second-primary-background);
}
/* Лого */
.footer_logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
     color: var(--primary-text-white);
}
.footer_logo_firstp {
    color: var(--accent-color);
}
/* Адреса */
.address_map {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-white);
}
.address_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-gray-alfa-chenel);
}
/* ____ПОРТФОЛІО____ */